extends ../../_layout/default
block vars
  -title        = '商品開発（SBU戦略）｜カインズについて｜株式会社カインズ 企業サイト'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -navGroup     = 'aboutus'
  -pageID       = 'aboutProduct'
  -path         = '../..'

block container
  -
    var breadcrumbArray = [{name:'ホーム',url:path+'/'},{name:'カインズについて',url:path+'/aboutus'}];
    var currentcrumb  = {name:'商品開発',url:'#'};
    var headllineData  = {titleJP: '商品開発',titleEn:'PRODUCT DEVELOPMENT' };

  +breadcrumb(breadcrumbArray,currentcrumb)
  +headline(headllineData.titleJP,headllineData.titleEn)

  //- Banner module start
  .m-banner(style="--pc: url('../../assets/images/aboutus/product/bnr.jpg'); --sp: url('../../assets/images/aboutus/product/bnr_sp.jpg')")
  .g-inner
    section.m-about-module
      h2.m-titleLine
        span ホームセンターからの脱却を目指す。<br>SPAとSBUから成る「商品戦略」
      .m-about__block
        h3.m-titleBottom
          span 小売業から舵を切ったからこそ<br>“カインズのSPA”を推進
        .m-about__block-content.u-clearfix
          figure.image.is-pc
            img(src=path+"/assets/images/aboutus/product/img_product_01.jpg", alt="CAINZ INNOVATION HUB")
            figcaption CAINZ INNOVATION HUB
          p.text 私たちはこれまでに数多くのヒット商品を生み出し、グッドデザイン賞やiFデザイン賞、レッドドットデザイン賞といった国内外のアワードを受賞しています。多くのお客様にご評価いただき、そのクオリティーを国際的な機関にも認められる大きな理由は、私たちが“メンバー全員参加”の商品づくりを行っていることにあります。
          p.text なぜ、全員参加の商品づくりが可能なのか。それは私たちがSPA企業、つまりは商品企画から設計、品質管理、物流からプロモーション、販売といった一連の流れを一貫して行う、製造小売業だからです。私たちはお客様目線の商品づくりを実現するため、2007年に「SPA宣言」を行っています。以降、商品にかかわるあらゆる工程に深く踏み込み、そのすべてに“カインズらしさ”を宿らせています。
          figure.image.is-sp
            img(src=path+"/assets/images/aboutus/product/img_product_01.jpg", alt="CAINZ INNOVATION HUB")
            figcaption CAINZ INNOVATION HUB
          p.text 私たちが掲げる“全員参加”とは、正社員に限らず、パートやアルバイトのメンバーも含んでいます。カインズらしさとは徹底したお客様目線であり、お客様の最も近くにいるのは売場に立つメンバーです。私たちはお客様目線の気づきを商品に反映するべく、メンバーの声を募るためのシステムを導入。声を上げやすい環境整備にも力を注いでいます。
          p.text 2007年の「SPA宣言」以来、小売から製造小売に舵を切ったカインズですが、私たちは今もなお、小売業の姿勢と視線を持ち続けているのです。売場をつくり、商品を並べ、お客様をお迎えし、商品をお売りする。お客様と直に接する小売業だから持てるマーケットインの視点が、お客様に評価され、長くご愛用いただける商品を生み出しています。
      .m-about__block
        h3.m-titleBottom
          span 商品にかかわるすべてに<br>“カインズらしさ”という価値を
        .m-about__block-content.u-clearfix
          figure.image.is-pc
            img(src=path+"/assets/images/aboutus/product/img_product_02.jpg", alt="カインズのSPA")
            figcaption カインズのSPA
          p.text 商品企画／製造設計、生産拠点開発／素材調達、生産管理／品質管理、物流、プロモーション、販売／サポートと、SPAは多岐にわたる業務の連携によって成り立っています。しかし、単に連携するだけでは、カインズのSPAにはなりません。私たちは、カインズがSPAを推進する目的は何なのか、お客様にお届けすべき価値とは何なのか、常に自らに問いかけるシステムのアップデートを続けています。お客様にお届けする商品の価値とは、モノの利便性や革新性のみによって測られるものではありません。徹底した品質管理による安全性はもちろん、店舗に届くまでの物流プロセスから商品の魅力をお伝えするためのプロモーション、さらには売場の陳列方法に至るまで、商品の価値は、商品にかかわるすべてによって決まります。
          figure.image.is-sp
            img(src=path+"/assets/images/aboutus/product/img_product_02.jpg", alt="カインズのSPA")
            figcaption カインズのSPA
          p.text カインズのSPAとは、商品にかかわるすべてに“カインズらしさ”を宿らせることを意味します。部署ごとに役割は違っても、お客様と直に接する小売業としてのDNA、つまりは徹底したお客様目線を忘れてはいけません。これがカインズのSPAに貫かれた、共通の価値認識です。カインズの核にある共通の価値を認識し、その価値を商品に宿らせるためには、互いの綿密かつ有機的な連携が欠かせません。私たちは各々の役割や業務プロセスを可視化し、効率的な相互理解を推進するシステムを開発・導入していますが、今後はさらなる連携強化を目指し、組織体制の変革を進めていきます。
      .m-about__block
        h3.m-titleBottom
          span 大胆なまでにカテゴリーを拡縮<br>“カインズ独自”のSBU戦略
        .m-about__block-content.u-clearfix
          figure.image.is-pc
            img(src=path+"/assets/images/aboutus/product/img_product_03.jpg", alt="SBU戦略")
            figcaption SBU戦略
          p.text 私たちはヒット商品の継続的な開発はもちろん、これまでにない新業態の展開にも力を注いでいます。こうした事業展開の核にあるのが、カインズ独自の「SBU戦略」です。SBUとは、Strategic Business Unit。「戦略的事業単位」を意味し、組織における独立した戦略の策定と実行を図る事業単位のことです。事業単位は、商品や業務によって括られることが一般的です。しかし、カインズは約1万3000のオリジナル商品を展開し、大型店では9〜10万もの商品を取り扱っています。こうした膨大な数の商品を単に用途ごとにカテゴライズしては、お客様のニーズとの間に不一致が生じてしまう可能性があります。
          figure.image.is-sp
            img(src=path+"/assets/images/aboutus/product/img_product_03.jpg", alt="SBU戦略")
            figcaption SBU戦略
          p.text そこで私たちは、お客様のくらしや消費マインドを軸に事業単位を策定。「新たな顧客価値を創造する、大胆なカテゴリーの拡縮」をテーマに、「ライフスタイル・日用雑貨・プロ・ペット」という4つの事業単位を組織しています。この4つにカインズが見つめるお客様のくらし、つまりは事業戦略が込められています。
      .m-about__block
        h3.m-titleBottom
          span ホームセンターではなく<br>目指すは「カインズに行こう！」
        .m-about__block-content.u-clearfix
          p.text ペットもライフスタイルの一部ではないか——。そう、お思いになる方が多いかもしれません。しかし、この切り分けこそが、カインズ独自のSBU戦略を象徴しています。お客様にとってペットの存在は確かにくらしの一部ですが、これを独立させることにより、ペットの衣食住にとどまらない、より柔軟かつ先鋭的な発想が可能になります。その一例として、私たちは「ペットとの共生社会の実現」をビジョンに、ペットとの出会いの場を提供。さらにはペットに特化したオウンドメディア『WanQol（わんクォール）』の運営も行っています。一方、ライフスタイル事業とペット事業が連携することにより、専門店にはない“カインズらしさ”という強みが際立つことにもなるのです。
          p.text これはプロ事業に関しても同様です。取り扱う商品数も商品知識も、資材や工具はカインズの大きな強みです。同時にカインズのお客様は、非常に多種多様です。DIYを楽しまれる方もいれば、農家さんや大工さんをはじめ、プロの方々もご来店になります。それを単に資材・工具と括っては、お客様の多様なニーズには応えられません。
          p.text カインズにとって、“お客様”を定義することは困難です。その理由こそ、ご来店くださるお客様の多様さにあります。私たちのSBU戦略とは、多様なお客様の多様なニーズに応えるための戦略です。そして、目指すはホームセンターからの脱却。「ホームセンターに行こう」ではなく、「カインズに行こう」と言っていただける取り組みを進めていきます。

  include ../../_modules/group-links