include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = '.'

doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='charset' content='utf-8')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content='')
    meta(name='keywords' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    meta(property='og:url' content='')
    meta(property='og:type' content='')
    meta(property='og:image' content='')
    meta(property='og:site_name' content='')
    meta(property='og:locale' content='ja_JP')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    meta(name='robots' content='index,follow')
    title=title
    link(rel='canonical' href='')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap' rel='stylesheet')
    link(rel='icon' href=path+'/assets/images/favicon.ico')
    block styles
    link(rel='stylesheet' href=path+'/assets/css/style.css')

  body(class=pageID)
    // noscript, no-cookie
    noscript
      .m-boxAtt
        p.m-boxAtt_ttl.m-taC JavaScriptが無効になっています。
        p.m-textS.m-taC-pc
          | すべての機能を利用するためには、有効に設定してください。
          br.g-inline-pc
          | 設定方法はお使いのブラウザのヘルプをご確認ください。
    include ../_modules/header
    main.main
      block container
    include ../_modules/footer
    script(src=path+"/assets/js/libs/lib.js")
    script(src=path+"/assets/js/main.js")
    block scripts