.m-block01 
  .m-block01__cont
    .frame01
      figure
        img(src=path+"assets/images/construc_img01.jpg", alt="Công Trình Thi Công")
      .block
        h4 TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
        .sec
          p TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
          p TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
        .link-detail 
          a(href="#") Chi tiết...
    .frame02
      ul.c-slider01.slider02
        li.items
          a(href="#")
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Công Trình Thi Công")
            .sec 
              p.tag EBL 12022
              h4 TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
              p.txt TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
        li.items
          a(href="#")
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Công Trình Thi Công")
            .sec 
              p.tag EBL 12022
              h4 TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
              p.txt TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
        li.items
          a(href="#")
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Công Trình Thi Công")
            .sec 
              p.tag EBL 12022
              h4 TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
              p.txt TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
        li.items
          a(href="#")
            figure
              img(src=path+"assets/images/construc_img02.jpg", alt="Công Trình Thi Công")
            .sec 
              p.tag EBL 12022
              h4 TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 
              p.txt TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT 