extends ../../_layout/default

block vars
  -title        = 'アクセス｜企業情報｜株式会社カインズ 企業サイト'
  -description  = ''
  -keywords     = ''
  -og_title     = 'アクセス｜企業情報｜株式会社カインズ 企業サイト'
  -url          = ''
  -pageID       = 'companyAccess'
  -path         = '../../'

block styles
block scripts
block container
  -
    var cainzSystems = [
      {name: "商品開発", url: "#"},
      {name: "店舗について", url: "#"},
      {name: "人事戦略", url: "#"},
      {name: "ロジティクス", url: "#"},
      {name: "品質管理", url: "#"},
      {name: "デジタル戦略", url: "#"},
      {name: "くみまち構想", url: "#"},
      {name: "採用", url: "#"},
      {name: "ビジネスパートナー募集", url: "#"},
    ];

  +breadcrumb([{name:'ホーム',href:'/ホーム'}],{name:'企業情報',href:''})
  +headline('アクセス','ACCESS')

  .m-banner(style="--pc: url('../../assets/images/company/access/bnr.png'); --sp: url('../../assets/images/company/access/bnr_sp.png')")

  section.companyAccess__content
    .g-inner
      .companyAccess__item
        h2.m-titleBar.m-titleBar--full-width
          |本社
        .companyAccess__item-wrap
          .companyAccess__item-column
            .companyAccess__item-thumb
              picture
                source(media='(min-width: 769px)' srcset=path+"/assets/images/company/access/img_item01.png")
                source(media='(max-width: 768px)' srcset=path+"/assets/images/company/access/img_item01_sp.png")
                img(src=path + "/assets/images/company/access/img_item01.png", alt="本社")
            .companyAccess__item-map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3218.850760620284!2d139.17511481556133!3d36.21882220790757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ec2e41a20e4a5%3A0xdc3aaa709239952d!2s1-ch%C5%8Dme-2-1%20Wasedanomori%2C%20Honjo%2C%20Saitama%20367-0030%2C%20Japan!5e0!3m2!1sen!2s!4v1676959105040!5m2!1sen!2s' width='510' height='234' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')

          .companyAccess__item-column
            .companyAccess__item-column--part
              h3.companyAccess__item-title 住所
              p.companyAccess__item-text
                |〒367-0030
                br
                |埼玉県本庄市早稲田の杜一丁目2番1号
              a(href="#", class="companyAccess__item-link") Google Mapで見る

            .companyAccess__item-column--part
              h3.companyAccess__item-title お車でお越しの場合
              ul.companyAccess__item-list
                li.companyAccess__item-text.dots 関越自動車道本庄児玉IC出口から 約1.8km

            .companyAccess__item-column--part
              h3.companyAccess__item-title お車でお越しの場合
              ul.companyAccess__item-list
                li.companyAccess__item-text.dots 上越･北陸新幹線 本庄早稲田駅南口から徒歩4分

      .companyAccess__item
        h2.m-titleBar.m-titleBar--full-width
          |東京情報センター
        .companyAccess__item-wrap
          .companyAccess__item-column
            .companyAccess__item-thumb
              picture
                source(media='(min-width: 769px)' srcset=path+"/assets/images/company/access/img_item02.png")
                source(media='(max-width: 768px)' srcset=path+"/assets/images/company/access/img_item02_sp.png")
                img(src=path + "/assets/images/company/access/img_item02.png", alt="東京情報センター")
            .companyAccess__item-map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.5207336236795!2d139.77633861555145!3d35.713409835813216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e99503f3517%3A0xc886b7ac49bf7239!2zSmFwYW4sIOOAkjExMC0wMDA1IFRva3lvLCBUYWl0byBDaXR5LCBVZW5vLCA3LWNoxY1tZeKIkjbiiJIxIOODmeOCpOOCt-OCouadseS6rOaDheWgseOCu-ODs-OCv-ODvA!5e0!3m2!1sen!2s!4v1676959142265!5m2!1sen!2s' width='510' height='234' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
          .companyAccess__item-column
            .companyAccess__item-column--part
              h3.companyAccess__item-title 住所
              p.companyAccess__item-text
                |〒110-0005
                br
                |東京都台東区上野7-6-1
              a(href="#", class="companyAccess__item-link") Google Mapで見る

            .companyAccess__item-column--part
              h3.companyAccess__item-title お車でお越しの場合
              ul.companyAccess__item-list
                li.companyAccess__item-text.dots JR線 上野駅入谷口から徒歩2分
                li.companyAccess__item-text.dots 東京メトロ 稲荷町駅3番出口から徒歩8分

      .companyAccess__item
        h2.m-titleBar.m-titleBar--full-width
          |CAINZ INNOVATION HUB（カインズイノベーションハブ）
        .companyAccess__item-wrap
          .companyAccess__item-column
            .companyAccess__item-thumb
              picture
                source(media='(min-width: 769px)' srcset=path+"/assets/images/company/access/img_item03.png")
                source(media='(max-width: 768px)' srcset=path+"/assets/images/company/access/img_item03_sp.png")
                img(src=path + "/assets/images/company/access/img_item03.png", alt="CAINZ INNOVATION HUB（カインズイノベーションハブ）")
            .companyAccess__item-map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4992943541492!2d139.7091970155507!3d35.66470603848509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca01d22b245%3A0xc706032b8116c18c!2zSmFwYW4sIOOAkjEwNy0wMDYxIFRva3lvLCBNaW5hdG8gQ2l0eSwgS2l0YWFveWFtYSwgMy1jaMWNbWXiiJI24oiSMjYg77yx77yj772D772V772C772F5YyX6Z2S5bGx77yT77yW!5e0!3m2!1sen!2s!4v1676959204154!5m2!1sen!2s' width='510' height='234' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
          .companyAccess__item-column
            .companyAccess__item-column--part
              h3.companyAccess__item-title 住所
              p.companyAccess__item-text
                |〒110-0005
                br
                |東京都港区北青山3-6-26
              a(href="#", class="companyAccess__item-link") Google Mapで見る

            .companyAccess__item-column--part
              h3.companyAccess__item-title お車でお越しの場合
              ul.companyAccess__item-list
                li.companyAccess__item-text.dots 東京メトロ 表参道駅B4出口から徒歩3分

  include ../../_modules/group-links