extends _layout/default

block vars
  -title        = '株式会社カインズ 企業サイト'
  -description  = 'オリジナル商品を開発中！ホームセンター「カインズ」の企業サイトです。'
  -keywords     = ''
  -og_title     = '株式会社カインズ'
  -url          = ''
  -pageID       = 'homepage'
  -path         = '.'

mixin aboutUsListItem(link, imgSrcPC, imgSrcSp, name)
  li.aboutUs__list-item
    a(href=link)
      picture
        source(media='(min-width: 1025px)' srcset=path+imgSrcPC)
        source(media='(max-width: 1024px)' srcset=path+imgSrcSp)
        img(src=path+imgSrcPC, alt=name, class="m-aboutUs__list-thumb")
      span.aboutUs__list-text=name

mixin cainzSystem(arrs)
  each val in arrs
    li.aboutUs__systemList-item
      .m-btnPrimary
        a(href=val.url, class="m-btnPrimary__link js-link-btn")= val.name

mixin logoBannerItem(arrs)
  each val in arrs
    li.aboutUs__logoBanner__list-item
      a(href=val.url, target=val.target)
        img(src=path+val.imgUrl, alt=val.name)

mixin newsItem(link, imgSrc, date, category, content)
  li.news__list-item
    a(href=link, class="news__list-item--wrap")
      .news__list-item--thumb
        img(src=path+imgSrc, alt=content)
      .news__list-item--box
        span.news__list-item--date= date
        span.news__list-item--category= category
        p.news__list-item--content= content

mixin newsNoticeItem(link, date, text)
  li.news-notice__item
    a(href=link, class="news-notice__item--link")
      span.news-notice__item--date= date
      p.news-notice__item--text= text

mixin contentsItem(link, imgSrc, date, categories, content)
  a(href=link, class="contents_slider__link")
    .contents_slider__thumb
      img(src=path+imgSrc, alt=content)
    .contents_slider__detail
      span.contents_slider__detail-date= date
      each category in categories
        span.contents_slider__detail-category= category
      p.contents_slider__detail-text.js-text-length= content

mixin btnSecondary(name, url)
  .m-btnSecondary
    a(href=url class="m-btnSecondary__link")
      |!{name}
      svg(width='15' height='14' viewbox='0 0 15 14' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
        defs
          path#9y8pum6u0a(d='M14.167 12.25c.46 0 .833.392.833.875 0 .449-.322.819-.736.87l-.097.005h-10c-.46 0-.834-.392-.834-.875 0-.449.322-.819.736-.87l.098-.005h10zm-13.334 0c.46 0 .834.392.834.875S1.294 14 .833 14C.373 14 0 13.608 0 13.125s.373-.875.833-.875zm13.334-6.125c.46 0 .833.392.833.875 0 .449-.322.819-.736.87l-.097.005h-10c-.46 0-.834-.392-.834-.875 0-.449.322-.819.736-.87l.098-.005h10zm-13.334 0c.46 0 .834.392.834.875s-.373.875-.834.875C.373 7.875 0 7.483 0 7s.373-.875.833-.875zM14.167 0c.46 0 .833.392.833.875 0 .449-.322.819-.736.87l-.097.005h-10c-.46 0-.834-.392-.834-.875 0-.449.322-.819.736-.87L4.167 0h10zM.833 0c.46 0 .834.392.834.875s-.373.875-.834.875C.373 1.75 0 1.358 0 .875S.373 0 .833 0z')
        g(fill='none' fill-rule='evenodd')
          mask#ou91ahao1b(fill='#fff')
            use(xlink:href='#9y8pum6u0a')
          use(fill='#333' xlink:href='#9y8pum6u0a')
          path(fill='#212121' mask='url(#ou91ahao1b)' d='M-4.167-5.25h23.333v24.5H-4.167z')


block styles
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
block scripts
  script(src=path+"/assets/js/top-slider.js")

block container
  -
    var cainzSystems = [
      {name: "商品開発", url: productAboutusLink},
      {name: "店舗について", url: storeAboutusLink},
      {name: "人事戦略", url: diyhrAboutusLink},
      {name: "ロジティクス", url: logisticsAboutusLink},
      {name: "品質管理", url: qualityAboutusLink},
      {name: "デジタル戦略", url: digitalAboutusLink},
      {name: "くみまち構想", url: kumimachiAboutusLink},
      {name: "採用", url: "https://recruit.cainz.com/", target: "_blank"},
      {name: "ビジネスパートナー募集", url: "/partners/"},
    ];

    var services = [
      {name: "CAINZ DIY Style", url: "https://diy-style.cainz.com/", imgUrl: "/assets/images/top/img-service01.png", target: "_blank"},
      {name: "CAINZ Reserve", url: "https://reserve.cainz.com/", imgUrl: "/assets/images/top/img-service02.png", target: "_blank"},
      {name: "CAINZ Reform", url: "https://reform.cainz.com/", imgUrl: "/assets/images/top/img-service03.png", target: "_blank"},
      {name: "Pet's One ペッツワン", url: "https://petsone.cainz.com/", imgUrl: "/assets/images/top/img-service04.png", target: "_blank"},
      {name: "cooking Fun", url: "https://img.cainz.com/jp/cooking_fun/index.html", imgUrl: "/assets/images/top/img-service05.png", target: "_blank"},
      {name: "C'z PRO", url: "https://czpro.jp/", imgUrl: "/assets/images/top/img-service06.png", target: "_blank"},
      {name: "CAINZ Style Factory", url: "https://style-factory.cainz.com/", imgUrl: "/assets/images/top/img-service07.png", target: "_blank"},
    ];

    var medias = [
      {name: "となりのカインズさん", url: "https://magazine.cainz.com/", imgUrl: "/assets/images/top/img-media01.png", target: "_blank"},
      {name: "CAINZ TV", url: "https://www.youtube.com/@cainztv", imgUrl: "/assets/images/top/img-media02.png", target: "_blank"},
      {name: "WanQol", url: "https://www.wanqol.com/", imgUrl: "/assets/images/top/img-media03.png", target: "_blank"},
    ];

    var groups = [
      {name: "Beisia", url: "https://www.beisia.co.jp/", imgUrl: "/assets/images/top/img-group01.png", target: "_blank"},
      {name: "WORKMAN", url: "https://www.workman.co.jp/", imgUrl: "/assets/images/top/img-group02.png", target: "_blank"},
      {name: "HANDS", url: "https://hands.net/", imgUrl: "/assets/images/top/img-group03.png", target: "_blank"},
      {name: "SAVE ON", url: "https://www.saveon.co.jp/", imgUrl: "/assets/images/top/img-group04.png", target: "_blank"},
      {name: "AUTER's", url: "https://www.autors.co.jp/", imgUrl: "/assets/images/top/img-group05.png", target: "_blank"},
      {name: "ベイシア電器", url: "https://beisiadenki.jp/", imgUrl: "/assets/images/top/img-group06.png", target: "_blank"},
      {name: "清閑堂", url: "https://www.seikando-b.co.jp/", imgUrl: "/assets/images/top/img-group07.png", target: "_blank"},
      {name: "ベイシアスポーツクラブ", url: "https://www.cainz.co.jp/", imgUrl: "/assets/images/top/img-group08.png", target: "_blank"},
      {name: "CAINZ Travel", url: "https://cainztravel.jp/", imgUrl: "/assets/images/top/img-group09.png", target: "_blank"},
      {name: "Beisia 流通技術研究所", url: "https://be-rri.jp/", imgUrl: "/assets/images/top/img-group10.png", target: "_blank"},
    ];

  section.slider
    .slider-main
      .top_slider(data-slider="true")
        .swiper-wrapper
          .swiper-slide
            a(href="#")
              picture
                source(media='(min-width: 768px)' srcset=path+"/assets/images/top/img-slider01.png")
                source(media='(max-width: 767px)' srcset=path+"/assets/images/top/img-slider_sp01.png")
                img(src=path+"/assets/images/top/img-slider01.png", alt="Slider")
          .swiper-slide
            a(href="#")
              picture
                source(media='(min-width: 768px)' srcset=path+"/assets/images/top/img-slider01.png")
                source(media='(max-width: 767px)' srcset=path+"/assets/images/top/img-slider_sp01.png")
                img(src=path+"/assets/images/top/img-slider01.png", alt="Slider")
          .swiper-slide
            a(href="#")
              picture
                source(media='(min-width: 768px)' srcset=path+"/assets/images/top/img-slider01.png")
                source(media='(max-width: 767px)' srcset=path+"/assets/images/top/img-slider_sp01.png")
                img(src=path+"/assets/images/top/img-slider01.png", alt="Slider")
          .swiper-slide
            a(href="#")
              picture
                source(media='(min-width: 768px)' srcset=path+"/assets/images/top/img-slider01.png")
                source(media='(max-width: 767px)' srcset=path+"/assets/images/top/img-slider_sp01.png")
                img(src=path+"/assets/images/top/img-slider01.png", alt="Slider")
          .swiper-slide
            a(href="#")
              picture
                source(media='(min-width: 768px)' srcset=path+"/assets/images/top/img-slider01.png")
                source(media='(max-width: 767px)' srcset=path+"/assets/images/top/img-slider_sp01.png")
                img(src=path+"/assets/images/top/img-slider01.png", alt="Slider")
        .pagination

  section.pickup
    .g-inner
      ul.pickup-box
        li
          a(href="#", class="pickup-text")
            |珪藻土商品回収に関するご案内ページ
        li
          a(href="#", class="pickup-text")
            |【重要】4/5 ＜画像追加＞珪藻土商品の回収に関するお詫びとお知らせ

  section.news
    .m-headline.t-news
      .g-inner
        h2.m-headline__text ニュースリリース

    .g-inner.lg
      ul.news__list
        +newsItem("#", "/assets/images/top/img-news01.png", "2022.07.01", "出店情報", "カインズと花王の共創プロジェクト店舗にリユースコンテナ（折りたたみコンテナ）をテスト導入をテスト導入をテスト導入をテスト導入しま")
        +newsItem("#", "/assets/images/top/img-news02.png", "2022.07.01", "出店情報", "カインズ・ベイシア限定「サッポロ生ビール黒ラベル ザスパクサツ群馬応援缶」数量限定発売")
        +newsItem("#", "/assets/images/top/img-news03.png", "2022.07.01", "出店情報", "電力需給ひっ迫注意報、警報発令時のカインズ各店舗における節電対応について")
        +newsItem("#", "/assets/images/top/img-news04.png", "2022.07.01", "出店情報", "「Style Factory ららぽーと湘南平塚店」6月24日(金)オープン")

      +btnSecondary("ニュースリリース一覧", "/news/")

    .news-notice
      .g-inner
        h3.news-notice__title 重要なお知らせ
        ul.news-notice__list
          +newsNoticeItem("#", "2022.05.11", "「スチール台車」3商品の自主回収に関するお詫びとお知らせ")
          +newsNoticeItem("#", "2022.05.11", "「Pet`s One ハムスター ホイール（S、M）」自主回収に関するお詫びとお知らせ")
          +newsNoticeItem("#", "2022.05.11", "【重要】「のぼりスタンド」給水時のご注意と 商品の自主回収に関するお知らせ（訂正版）")

        +btnSecondary("お知らせ一覧", "/news/post_id/")

  section.contents
    .m-headline.t-contents
      .g-inner
        h2.m-headline__text コンテンツ

    .contents__main
      .contents_slider(data-slider="true")
        .swiper-wrapper
          .swiper-slide
            +contentsItem("#", "/assets/images/top/img_contents_item01.jpg", "2022.09.14", ["イベント", "サステナブル"], "小学 4～6 年生向けの「くみまち学校」を開催")
          .swiper-slide
            +contentsItem("#", "/assets/images/top/img_contents_item02.jpg", "2022.09.14", ["イベント", "サステナブル"], "楽しみながら社会課題を学び、交流を通じてリーダーシップを育む、小学 4～6 年生向けの「くみまち学校」を開催")
          .swiper-slide
            +contentsItem("#", "/assets/images/top/img_contents_item01.jpg", "2022.09.14", ["イベント", "サステナブル"], "楽しみながら社会課題を学び楽しみながら社会課題を学び楽しみながら社会課題を学び楽しみながら社会課題を学び楽しみながら社会課題を学会課題を学")
          .swiper-slide
            +contentsItem("#", "/assets/images/top/img_contents_item01.jpg", "2022.09.14", ["イベント", "サステナブル"], "小学 4～6 年生向けの「くみまち学校」を開催")
          .swiper-slide
            +contentsItem("#", "/assets/images/top/img_contents_item02.jpg", "2022.09.14", ["イベント", "サステナブル"], "楽しみながら社会課題を学び、交流を通じてリーダーシップを育む、小学 4～6 年生向けの「くみまち学校」を開催")
        .pagination
        +btnSecondary("コンテンツ一覧", "/contents/")

  section.aboutUs
    .m-headline.t-aboutUs
      .g-inner
        h2.m-headline__text カインズについて

    .g-inner
      ul.aboutUs__list
        +aboutUsListItem(messageCompanyLink, "/assets/images/top/img-about01.png", "/assets/images/top/img-about01_sp.png", "トップメッセージ")
        +aboutUsListItem(philosophyCompanyLink, "/assets/images/top/img-about02.png", "/assets/images/top/img-about02_sp.png", "企業理念")
        +aboutUsListItem(principlesCompanyLink, "/assets/images/top/img-about03.png", "/assets/images/top/img-about03_sp.png", "行動方針")
        +aboutUsListItem(outlineCompanyLink, "/assets/images/top/img-about04.png", "/assets/images/top/img-about04_sp.png", "会社概要")
        +aboutUsListItem(accessCompanyLink, "/assets/images/top/img-about05.png", "/assets/images/top/img-about05_sp.png", "アクセス")
        +aboutUsListItem(officerCompanyLink, "/assets/images/top/img-about06.png", "/assets/images/top/img-about06_sp.png", "役員一覧・組織図")
        +aboutUsListItem(historyCompanyLink, "/assets/images/top/img-about07.png", "/assets/images/top/img-about07_sp.png", "沿革")
        +aboutUsListItem(aboutbeisiaCompanyLink, "/assets/images/top/img-about08.png", "/assets/images/top/img-about08_sp.png", "ベイシアグループについて")

      ul.aboutUs__systemList
        +cainzSystem(cainzSystems)

      .aboutUs__logoBanner
        .aboutUs__logoBanner-headline
          h3.aboutUs__logoBanner-headline--title 関連サービス

        ul.aboutUs__logoBanner__list
          +logoBannerItem(services)

      .aboutUs__logoBanner
        .aboutUs__logoBanner-headline
          h3.aboutUs__logoBanner-headline--title メディア

        ul.aboutUs__logoBanner__list
          +logoBannerItem(medias)

      .aboutUs__logoBanner
        .aboutUs__logoBanner-headline
          h3.aboutUs__logoBanner-headline--title グループ企業

        ul.aboutUs__logoBanner__list
          +logoBannerItem(groups)