-
  var nav01 = [
    {name: '企業情報', url: companyLink},
    {name: 'カインズについて', url: aboutusLink},
    {name: 'ニュースリリース', url: newsLink},
    {name: 'コンテンツ', url: contentsLink},
    {name: 'ビジネスパートナー募集', url: partnersLink},
  ]

  var nav02 = [
    {name: '採用情報', url: 'https://recruit.cainz.com/', target: "_blank"},
    {name: 'オンラインストア', url: 'https://www.cainz.com/', target: "_blank"},
    {name: '店舗検索', url: 'https://map.cainz.com/', target: "_blank"},
    {name: 'ベイシア21世紀財団', url: 'http://www.21zaidan.or.jp/', target: "_blank"},
    {name: 'ザスパクサツ群馬<br>オフィシャルサイト', url: 'https://www.thespa.co.jp/', target: "_blank"},
  ]

  var policyLink = "https://policies.cainz.com/privacy/"

mixin snsLink()
  li
    a(href="https://www.facebook.com/cainzfun/", target="_blank")
      img(src=path+"/assets/images/common/icon_facebook.svg", alt="CAINZ Facebook")
  li
    a(href="https://twitter.com/cainz_official/", target="_blank")
      img(src=path+"/assets/images/common/icon_twitter.svg", alt="CAINZ Twitter")
  li
    a(href="https://www.facebook.com/cainzfun/", target="_blank")
      img(src=path+"/assets/images/common/icon_instagram.svg", alt="CAINZ Instagram")
  li
    a(href="https://www.youtube.com/@cainztv/", target="_blank")
      img(src=path+"/assets/images/common/icon_youtube.svg", alt="CAINZ Youtube")

footer.m-footer
  .m-footer__inner
    .m-footer__logo
      img(src=path+"/assets/images/common/logo_footer.svg", alt="CAINZ")
    .m-footer__sitemap
      nav.m-footer__sitemap-item
        +navigation(nav01)

      nav.m-footer__sitemap-item
        +navigation(nav02)

      .m-footer__sitemap-sns
        .m-footer__sitemap-sns--title 公式SNSアカウント
        ul.m-footer__sitemap-sns--list
          +snsLink()

        a(href=policyLink class="m-footer__sitemap-policyLink") プライバシーポリシー

    .m-footer__logoSp
      img(src=path+"/assets/images/common/logo_header.svg", alt="CAINZ")

    .m-menuToggle
      .m-menuToggle__content
        nav.m-menuToggle__content-item
          h2.m-menuToggle__content-item--title 最新情報
          ul.m-menuToggle__content-item--list
            li
              a(href=newsLink) ニュースリリース
            li
              a(href=contentsLink) コンテンツ

        nav.m-menuToggle__content-item
          h2.m-menuToggle__content-item--title 総合情報
          ul.m-menuToggle__content-item--list
            li
              .m-menuToggle__according
                input(type="checkbox")
                a(href=companyLink, class="m-menuToggle__according-text") 企業情報
                .m-menuToggle__according-content
                  +navigation(companyMenus)
                  .m-header__btnLink
                    a(href=companyLink, class="m-header__btnLink-text") 企業情報トップ
                .m-menuToggle__according-icon
            li
              .m-menuToggle__according
                input(type="checkbox")
                a(href=aboutusLink, class="m-menuToggle__according-text") カインズについて
                .m-menuToggle__according-content
                  +navigation(aboutCainzMenus)
                .m-menuToggle__according-icon
            li
              .m-menuToggle__according
                input(type="checkbox")
                a(href=partnersLink, class="m-menuToggle__according-text") ビジネスパートナー募集
                .m-menuToggle__according-content
                  +navigation(businessMenus)
                .m-menuToggle__according-icon
            li
              a(href="https://recruit.cainz.com/", target="_blank") 採用情報

        nav.m-menuToggle__globalMenu
          ul.m-menuToggle__globalMenu-list
            li
              a(href="https://translate.google.com/translate?hl=&sl=ja&tl=en&u=https://www.cainz.co.jp/", target="_blank") EN

    .m-footer__wrap
      include cart-btn-block.pug
      include scroll-top
      .m-footer__snsMobile
        .m-footer__snsMobile-title 公式SNSアカウント
        ul.m-footer__snsMobile-list
          +snsLink()

        a(href=policyLink class="m-footer__snsMobile-policyLink") プライバシーポリシー

  .m-footer__copyright
    p.m-footer__copyright-text Copyright &copy; CAINZ All rights reserved.