extends ../../_layout/default

block vars
  -title        = '企業理念｜企業情報｜株式会社カインズ 企業サイト'
  -description  = ''
  -keywords     = ''
  -og_title     = '企業理念｜企業情報｜株式会社カインズ 企業サイト'
  -url          = ''
  -pageID       = 'companyPhilosophy'
  -path         = '../../'

block styles
block scripts
block container
  -
    var breadcrumbArray = [{name:'ホーム',url:'/'}, {name:'企業情報',url:''}];
    var currentcrumb  = {name:'企業理念',url:''};

  +breadcrumb(breadcrumbArray,currentcrumb)

  +headline('企業理念','CORPORATE PHILOSOPHY')

  .m-banner(style="--pc: url('../../assets/images/company/philosophy/bnr.png'); --sp: url('../../assets/images/company/philosophy/bnr_sp.png')")

  section.m-post
    .g-inner
      h2.m-post__title 世界を、日常から変える
      p.m-txtB カインズは、1989年の創業、2007年のSPA宣言を経て、2019年を第3創業期と位置づけ、3カ年の中期経営計画「PROJECT KINDNESS」がスタートしました。「次のカインズを創る」ためにさまざまな施策に取り組み、大きな変革に乗り出しています。そして、2020年3月、カインズの新しい企業理念が決定しました。私たちはビジョン「世界を、日常から変える。」を軸に、未来に向けてどのような価値を創り出し、お客様に提供していくのか。グループ理念“For the Customers”を土台に、お客様への約束「プロミス」、ビジョンを実現するための価値観「コアバリュー」を制定しました。

  section.m-companyPhilosophy__chart
    .m-headline.t-philosophy.t-childPage
      h2.m-headline__text.m-headline__text-child カインズの企業理念
    .g-inner
      .m-companyPhilosophy__chart-thumb
        img(src=path+'assets/images/company/philosophy/cainz-philosophy.png', alt="くらしに、ららら。お客様に約束する「ブランド」")

  section.m-companyPhilosophy__list
    .g-inner
      .m-companyPhilosophy__item
        h3.m-titleBar.m-titleBar--full-width プロミス
        .m-companyPhilosophy__item-wrap
          .m-companyPhilosophy__item-thumb
            p
              img(src=path + "assets/images/company/philosophy/img01.png", alt="くらしに、ららら。お客様に約束する「ブランド」")
          .m-companyPhilosophy__item-content
            h4.m-titleItem 私たちは「くらしに、ららら。」を提供します。
            p.m-txt  わたしたちの出発点は”くらし”です。
              br
              | そして、日本の、世界のくらしのそばに寄り添い続けることが、わたしたちの目標です。くらしが広がる、発見やアイデアと出会える『店舗』で。くらしのできることが増える『商品』で。くらしの願いに丁寧に、親身にお応えする『サービス』で。わたしたちは、くらしのプロフェッショナルとして、今日と、明日と、未来、くらしのすみずみを見つめて、くらしのさまざまな領域で、日常を、心地よく、便利に変えていきます。くらしの中で見つかるちょっとした輝きが、世界をもっと良くする大きな輝きになることを信じて。
      .m-companyPhilosophy__item
        h3.m-titleBar.m-titleBar--full-width コアバリュー
        .m-companyPhilosophy__item-wrap
          ul.m-companyPhilosophy__card
            li.m-companyPhilosophy__cardItem
              .m-companyPhilosophy__cardItem-img
                figure
                  img(src=path+'assets/images/company/philosophy/img02.png', alt="Kindnessでつながる")
              .m-companyPhilosophy__item-content
                h4.m-companyPhilosophy__cardItem-title Kindnessでつながる
                p.m-txt 「Kindness」はカインズの強みです。すべての事業活動と周りの人々に対して、常に「Kindness：親切心」を中心においてつながる。それは決して簡単なことではありません。プロフェッショナルとして自分を律する強さと、相手の気持ちを汲み取る豊かな想像力、そして相手を心から大切にする愛が求められます。ひとり一人がこれを実行したとき、「Kindness」の連鎖がおき、私たちの強みは大きくなります。社名の由来にもなっている「Kindness」。「Kindness」にあふれる世界を一緒につくりましょう。
            li.m-companyPhilosophy__cardItem
              .m-companyPhilosophy__cardItem-img
                figure
                  img(src=path+'/assets/images/company/philosophy/img03.png', alt="創るをつくる")
              .m-companyPhilosophy__item-content
                h4.m-companyPhilosophy__cardItem-title 創るをつくる
                p.m-txt カインズは、「創る＝何事でも自分でチャレンジして形にする」文化を世の中に、そして社会の中に広げていきます。そのためには、自らが時代の変化を捉え、クリエイティビティを発揮し、新たなことに常に挑戦し続けることが大切です。そして、日常を、心地良く、便利に変えていくためにも、お客様やメンバー、パートナーと一緒により良い店舗やくらしをつくり出していきましょう。
            li.m-companyPhilosophy__cardItem
              .m-companyPhilosophy__cardItem-img
                figure
                  img(src=path+'assets/images/company/philosophy/img04.png', alt="枠をこえる")
              .m-companyPhilosophy__item-content
                h4.m-companyPhilosophy__cardItem-title 枠をこえる
                p.m-txt カインズは、これまでも、これからも前例や常識に捉われない、新たな商品やサービスを生み出していきます。そのためには、多様なものやことに触れてみる好奇心を持ち、思ってもみなかった新たな化学反応を起こす勇気を持つこと。そして、自分の殻をやぶり、自分自身もつくり変えていくことが大切です。事業、地域、人の価値観など、さまざまな枠をこえ、一緒に価値や文化をつくり変えていきましょう。

      .m-companyPhilosophy__item.m-companyPhilosophy__item--customer
        h3.m-titleBar.m-titleBar--full-width ベイシアグループ経営理念
        .m-companyPhilosophy__item-wrap
          .m-companyPhilosophy__item-content.m-companyPhilosophy__item-content--center
            dl
              dt
                h4.m-titleItem “For the Customers”
              .m-txt
                dd チェーンストア イズ モア ディスカウントビジネスに徹する
                dd 地域格差を解消し国民の豊かな生活づくりに貢献する
                dd 人をつくって商で文化を想像する

  section.m-kind
    .m-kind-inner
      .m-kind-wrap
        h2.m-kind__title 社名にこめられた想い
        .m-kind__thumb
          p
            img(src=path+"assets/images/company/philosophy/kind.png", alt="CAINZ【Kind(ness)】、「Customers first」、AI＝愛、Z＝永遠")
        .m-kind__txt
          p カインズの社名は「親切な・豊富な」という意味の「Kind(ness)」をもとにお客様第一の「Customers first」、愛「AI」のこもった接客、そしてその気持ちを永遠に持ち続けるという意味の「Z」という想いが込められています。

  include ../../_modules/group-links