extends ../_layout/default
block vars
  -title        = 'ニュースリリース｜株式会社カインズ 企業サイト'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'news'
  -path         = '..'

mixin newsResultItem(link, imgSrc, content, date, category)
  li
    a(href=link, class="newsResult-list__item")
      .newsResult-list__item--thumb
        img(src=path+imgSrc, alt=content)
      .newsResult-list__item--description
        .newsResult-list__item--name.js-text-length= content
        .newsResult-list__item--wrap
          .newsResult-list__item--date= date
          .newsResult-list__item--category= category
block styles
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')

block container
  +breadcrumb([{name:'ホーム',url:'/'}], {name: 'ニュースリリース'})
  section.newsSearch
    .g-inner
      .newsSearch__box
        h1.newsSearch__title ニュースリリース
        form.newsSearch__form(action="", method="")
          .newsSearch__form__row
            .newsSearch__form__block
              label.m-form-label(for="keyword") キーワードで検索
              input.m-form-text#keyword(type="text", name="" placeholder="キーワードを入力")
            .newsSearch__form__block
              label.m-form-label 年別・期間で検索
              .gr-select
                .block-select.js-select
                  input.m-input-select(type="text", name="" placeholder="発表年")
                  .m-box-select.swiper-container.js-swiper-box
                    ul.m-box-select__list.swiper-wrapper
                      li.swiper-slide(data-box="2022年") 2022年
                      li.swiper-slide(data-box="2021年") 2021年
                      li.swiper-slide(data-box="2020年") 2020年
                      li.swiper-slide(data-box="2019年") 2019年
                      li.swiper-slide(data-box="2018年") 2018年
                      li.swiper-slide(data-box="2017年") 2017年
                      li.swiper-slide(data-box="2016年") 2016年
                      li.swiper-slide(data-box="2015年") 2015年
                      li.swiper-slide(data-box="2014年") 2014年
                      li.swiper-slide(data-box="2013年") 2013年
                      li.swiper-slide(data-box="2012年") 2012年
                      li.swiper-slide(data-box="2011年") 2011年
                      li.swiper-slide(data-box="2010年") 2010年
                    .swiper-button-next
                .block-select.js-select
                  input.m-input-select(type="text", name="" placeholder="発表月")
                  .m-box-select.swiper-container.js-swiper-box
                    ul.m-box-select__list.swiper-wrapper
                      li.swiper-slide(data-box="12月") 12月
                      li.swiper-slide(data-box="11月") 11月
                      li.swiper-slide(data-box="10月") 10月
                      li.swiper-slide(data-box="09月") 09月
                      li.swiper-slide(data-box="08月") 08月
                      li.swiper-slide(data-box="07月") 07月
                      li.swiper-slide(data-box="06月") 06月
                      li.swiper-slide(data-box="05月") 05月
                      li.swiper-slide(data-box="04月") 04月
                      li.swiper-slide(data-box="03月") 03月
                      li.swiper-slide(data-box="02月") 02月
                      li.swiper-slide(data-box="01月") 01月
                    .swiper-button-next
          .newsSearch__form__row
            ul.m-list-checkbox
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="すべて")
                    span.m-checkbox_label すべて
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="重要なお知らせ")
                    span.m-checkbox_label 重要なお知らせ
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="企業メッセージ")
                    span.m-checkbox_label 企業メッセージ
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="経営")
                    span.m-checkbox_label 経営
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="商品・サービス")
                    span.m-checkbox_label 商品・サービス
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="出店・店舗")
                    span.m-checkbox_label 出店・店舗
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="くみまち・サステナビリティ")
                    span.m-checkbox_label くみまち・サステナビリティ
              li.m-list-checkbox__item
                .m-checkbox
                  label
                    input(type="checkbox" value="人事")
                    span.m-checkbox_label 人事
          .newsSearch__form__btn
            button(type="submit" class="m-btn-primary m-btn-primary--search")
              span 検索
  section.newsResult
    .g-inner
      .newsResult-head
        p.newsResult-head__text カテゴリー：タグ
        p.newsResult-head__text 検索結果：5,323 件`
      ul.newsResult-list
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズが長久手市と「災害時における物資の供給等に関する協定」を締結", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズがプロサッカー選手・畑尾選手の思いに賛同し、社会貢献活動をサポート", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "応募総数1,345句の中から大賞が決定！「カインズ ららら、おそうじ川柳大会」入選作品発表　大賞は「秋深し 夫婦で掃発表　大賞は「秋深し 夫婦で掃", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "～カルカン®パウチを買って 保護猫ちゃんたちを助けよう。～マース ジャパン×カインズ「ねこLOVE活動」キャンペーン", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズ初 メタバース店舗にBEAMS とコラボレーションブースを出店", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズが春日井市と「災害時における支援協力に関する協定」を締結", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズ・ビジネスサービスが厚生労働大臣から「障害者雇用優良中小事業主（もにす認定事業主）」に認定", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズが「光が丘公園フェスタ」に初出店", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "BEAMS DESIGNプロデュースによるカインズ限定ペットウェアを発売", "2022.12.12", "くみまち・サステナビリティ")
        +newsResultItem("#", "/assets/images/news/img_news_result01.png", "カインズを代表する旗艦店 カインズ浦和美園店　11月16日 （水）9時に全面リニューアルオープン", "2022.12.12", "くみまち・サステナビリティ")

      nav.m-pagination
        .nav-links
          span.prev.page-numbers.inactive
            | &lt;&lt;
          span.page-numbers.current(aria-current='page') 1
          a.page-numbers(href='#') 2
          a.page-numbers(href='#') 3
          a.page-numbers(href='#') 4
          a.page-numbers(href='#') 5
          a.page-numbers(href='#') 6
          span.page-numbers.dots &mldr;
          a.next.page-numbers(href='#')
            | &gt;&gt;



